.accordionTitle{
    font-family:'Pacifico', cursive!important;
    color:white!important;
}


.accordionText{
    font-family:'Pacifico', cursive!important;
    color:#015249!important;
    font-size:10px !important;
}
