@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


.navBar{
    background: #26418f;
    
   
    font-family:'Oswald', sans-serif
     /* box-shadow: 10px 10px 5px grey; */
}

.navText{
    color: #e0f7fa!important;
    font-family:'Oswald', sans-serif
    
    
}
.navText:hover{
    color:rgba(115,199,204,1)!important;
}
.navbar-brand{
   margin:0px 0px 0px 0px !important;
   padding:0px 0px 0px 0px !important;
}
.resumeNav{
    
}
.underline {
    position: relative;
    height: 2px;
  }

 


