@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
.aboutTitleText{
    font-family:'Merriweather', serif;
    color:white;
    font-size:35px;
    
}
/* .aboutText{
    font-family: 'Merriweather'!important;
    color:#015249!important;
    
    
    
} */


.aboutDivider{
    color:white;
    
}
.accordion{
    margin-top:20px;


}