@import url("https://fonts.googleapis.com/css?family=Fauna One");
@import url("https://fonts.googleapis.com/css?family=Cinzel");

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* Player ratio: 100 / (1280 / 720) */


}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;


}

.doTitle {
  font-family: "Helvetica", sans-serif !important;
  color: black !important
}

.doText {
  font-family: "Helvetica", sans-serif !important;
  color: black !important
}

.doContainer {

  background: white;

  color: black !important;

}

.doInnerContainer {
  background: #F8F9FA !important;
}

.loveContainer {
  background: #c8d8e4 !important;

}

.loveInnerContainer {
  background: #2b6777 !important;
 padding:32.1px!important;
  

}

.loveTitle {
  font-family: "Cinzel" !important;
  color: white !important;
 
}

.loveText {
  font-family: "Fauna One", sans-serif !important;
  color: white !important;

}

.pSeperator {
  margin-bottom: 10px;
}

.discordContainer {
  background: #36393f !important;


}

.discordInnerContainer {
  background: #4f545c !important;
  padding: 27px !important;

}

.discordTitle {
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif !important;
  color: white !important;
  
}

.discordInfo {
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif !important;
  color: rgb(255, 255, 255) !important;
}

.discordCardIcons {
  margin-top: 5px;
  margin-bottom: 5px;
}

.socialCardIcons {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cardDivider {
  margin-top: 35px;


}

.centerRow {

  justify-content: center !important;
  align-items: stretch !important;
}

.linkIcon {
  margin-left: 15px;
  width: 25px;
  height: 25px;
}

.gitIcon {
  width: 25px;
  height: 25px;
}

